# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro and logs
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# Local environment files
.env*.local

# TypeScript and OS files
*.tsbuildinfo
.DS_Store

# One-time template used to initialize this repository
.expo-starter/
